.main-conteiner{
    width: 1600px;  
    margin: 0 auto;
    // outline: 1px green dashed; 

    @media screen and (min-width: getBreakPoint('mobile')) {
        width: 480px;
    }
    @media screen and (min-width: getBreakPoint('laptop')) {
        width: 768px;
    }
    @media screen and (min-width: getBreakPoint('desktop')) {
        width: 1200px;
    }
}
.conteiner{
    width: 450px;
    margin: 0 auto;
    padding: 0 15px;
    // outline: 1px red dashed;

    @media screen and (min-width: getBreakPoint('mobile')) {
        width: 480px;
    }
    @media screen and (min-width: getBreakPoint('laptop')) {
        width: 768px;
    }
    @media screen and (min-width: getBreakPoint('desktop')) {
        width: 1200px;
    }
}